{% extends 'base.twig' %}
{% block contenido %}
<html>
<head> 
<title>Redirigir al navegador a otra URL</title> 
<META HTTP-EQUIV="REFRESH" CONTENT="1 ;URL=http://localhost/AnalisisLogs/index.php/login"> 
</head> 
<body> 
<p>Hola mundo! Redirigiendo </p>
</body> 
</html>
    

{% endblock %}
