<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Analizador</title>
  <!-- Bootstrap core CSS-->
  <link href="/AnalisisLogs/src/views/BackEnd/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/AnalisisLogs/src/views/BackEnd/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/AnalisisLogs/src/views/BackEnd/css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Acceso</div>
      <div class="card-body">
        <form action= "{{path('admin_login_check')}}" method="post">
          <div class="form-group">
            <label for="exampleInputEmail1">Usuario</label>
            
            <input class="form-control" id="username"  name="_username" type="text"  value= "{{ last_username }}">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input class="form-control" id="password" type="password" name="_password" >
          </div>
          <div class="form-group">
          <a class="btn btn-primary btn-block"><input class="btn btn-primary btn-block" type="submit" value="Entrada"></a>
           {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
        </form>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="/AnalisisLogs/src/views/BackEnd/vendor/jquery/jquery.min.js"></script>
  <script src="/AnalisisLogs/src/views/BackEnd/vendor/popper/popper.min.js"></script>
  <script src="/AnalisisLogs/src/views/BackEnd/vendor/js/bootstrap.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/AnalisisLogs/src/views/BackEnd/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
