    <form action="{{ path('admin_login_check') }}" method="post">
        <p><label for="username">Username: </label><input id="username" type="text" name="_username" value="{{ last_username }}"></p>
        <p><label for="password">Password: </label><input id="password" type="password" name="_password"></p>
        <p><input type="submit" value="Log in"></p>
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
    </form>

