<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Analizador</title>
  <!-- Bootstrap core CSS-->
  <link href="/AnalisisLogs/src/views/BackEnd/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/AnalisisLogs/src/views/BackEnd/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="/AnalisisLogs/src/views/BackEnd/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="/AnalisisLogs/src/views/BackEnd/css/sb-admin.css" rel="stylesheet">
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <p class="navbar-brand" >{{user}}</p>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href={{ path('vistaadmin')}}>
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Inicio</span>
          </a>
        </li>
        <!--Aqui elimine tables -->
        <!--seccion de Servidores -->
       <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Servidores">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-server" aria-hidden="true"></i>
            <span class="nav-link-text">Servidores</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href={{path('verservidores')}}>Ver Servidores</a>
            </li>
            <li>
              <a href={{path('agregarservidores')}}>Agregar Servidor</a>
            </li>
          </ul>
        </li>
       <!--seccion de Registros -->
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Registros">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
            <i class="fa fa-database" aria-hidden="true"></i>
            <span class="nav-link-text">Registros</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseExamplePages">
            <li>
              <a href={{path('verregistros')}}>Ver Registros</a>
            </li>
          </ul>
        </li>
        <!--seccion de Notificaciones-->
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Notificaciones">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
            <i class="fa fa-bell" aria-hidden="true"></i>
            <span class="nav-link-text">Notificaciones</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseMulti">
            <li>
              <a href={{path('vernotificaciones')}}>Ver Notificaciones</a>
            </li>
            <li>
              <a href={{path('confnotificaciones')}}>Configuracion</a>
            </li>
          </ul>
        </li>
        <!--Seccion de Estadistica -->
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Estadisticas">

          <a class="nav-link" href={{path('chart') }} >

            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Charts</span>
          </a>
        </li>
   <!--fin de seccion del menu-->
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Link</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-envelope"></i>
            <span class="d-lg-none">Messages
              <span class="badge badge-pill badge-primary">12 New</span>
            </span>
            <span class="indicator text-primary d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="messagesDropdown">
            <h6 class="dropdown-header">New Messages:</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <strong>David Miller</strong>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <strong>Jane Smith</strong>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00 instead of 4:00. Thanks!</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <strong>John Doe</strong>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">I've sent the final files over to you for review. When you're able to sign off of them let me know and we can discuss distribution.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" href="#">View all messages</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-bell"></i>
            <span class="d-lg-none">Alerts
              <span class="badge badge-pill badge-warning">6 New</span>
            </span>
            <span class="indicator text-warning d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">New Alerts:</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                  <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-danger">
                <strong>
                  <i class="fa fa-long-arrow-down fa-fw"></i>Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                  <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" href="#">View all alerts</a>
          </div>
        </li>
        <li class="nav-item">

          <a href="{{ path('admin_logout') }}" class="nav-link" >
            <i class="fa fa-fw fa-sign-out"></i>Logout {{user}}</a>

        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <div class="row">
        <div class="col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <h1 href="index.html">DATOS</h1>
            </li>
          </ol>
          <div class="card mb-3">
            <!--Inicio de tabla  -->
                <!-- Tabla de mysql_error-->
            <div class="card-header">
              <i class="fa fa-table"></i> Registros MYSQL Error</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered"  id="tabla1" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                          <th  width="100">Número</th>
                          <th width="100">Tipo Error</th>
                          <th width="100">Path Error</th>
                          <th>Mensaje</th>
                          <th>Opción</th>
                        </tr>
                    </thead>
                <tbody>
                  {% set counter = 0 %}
                  {% for i in data["hits"]["hits"] %}
                    {% set counter = counter + 1 %}
                    <tr>
                        <td>{{ counter}}</td>
                        <td width="100" height="100">{{i._type}}</td>
                        <td width="100" height="100">{{i._source.path}}</td>
                        <td class="mensaje" id="td_tabla1_mensaje{{counter}}" data-msj="{{i._source.message}}" data-informacion="Pulse en ver mas para ver el mensaje">Pulse en ver más para ver el mensaje</td>
                        <td width="200"><button  type="button" class="btn btn-info btn-lg"  data-toggle="modal" data-target="#mymodal1{{ counter }}" id= "boton_tabla1_{{ counter }}">Ver más</button></td>
                        <!--Inicio de modal  -->
                        <div id="mymodal1{{counter}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                  <!-- Modal content-->
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Mensaje de Error  No.{{ counter}}</h4>
                                      </div>
                                      <div class="modal-body">
                                        <p> {{i._source.message}} </p>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>

                                  </div>
                                </div>
                                <!--fin de modal de modal  -->
                    </tr>
                  {% endfor %}
          </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
      </div>
      </div>
    <!--fin de tabla -->
        <!-- Tabla de apache error-->
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

            <div class="card mb-3">
              <!--Inicio de tabla  -->
              <div class="card-header">
                <i class="fa fa-table"></i> Registros APACHE Error</div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered"   width="100%" cellspacing="0">
                      <thead>
                          <tr>
                            <th  width="100">Número</th>
                            <th width="100">Tipo Error</th>
                            <th width="100">Path Error</th>
                            <th  >Mensaje</th>
                            <th >Opción</th>
                          </tr>
                      </thead>
                  <tbody>
            {% set counter = 0 %}
            {% for i in  data2["hits"]["hits"] %}
              {% set counter = counter + 1 %}
            <tr>
                <td>{{ counter}}</td>
                <td width="100" height="100">{{i._type}}</td>
                <td width="100" height="100" >{{i._source.path}}</td>
                <td   class="mensaje_2"  data-msj="{{i._source.message}}"  data-informacion="Pulse en ver mas para ver el mensaje">Pulse en ver más para ver el mensaje</td>
                <td width="200" ><button type="button" class="btn btn-info btn-lg"  data-toggle="modal" data-target="#mymodal2{{ counter }}" id= "boton_tabla2_{{ counter }}" >Ver más</button> </td>
                  <!--Inicio de modal de modal  -->
                <div id="mymodal2{{counter}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                          <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Mensaje de Error No.{{ counter}}</h4>
                              </div>
                              <div class="modal-body">
                                <p> {{i._source.message}} </p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>

                          </div>
                        </div>
                        <!--fin de modal de modal  -->

            </tr>
            {% endfor %}
            </tbody>
            </table>
          </div>
        </div>
      </div>
      </div>
        </div>
        </div>
        <!-- Tabla de logs propios-->
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">

              <div class="card mb-3">
                <!--Inicio de tabla  -->
                <div class="card-header">
                  <i class="fa fa-table"></i> Registros Log propio</div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered"   width="100%" cellspacing="0">
                        <thead>
                            <tr>
                              <th  width="100">Número</th>
                              <th width="100">Tipo Error</th>
                              <th width="100">Path Error</th>
                              <th>Mensaje</th>
                              <th>Opción</th>
                            </tr>
                        </thead>
                    <tbody>
                      {% set counter = 0 %}
                      {% for i in data3["hits"]["hits"] %}
                      {% set counter = counter + 1 %}
                      <tr>
                          <td>{{ counter}}</td>
                          <td width="100" height="100">{{i._type}}</td>
                          <td width="100" height="100">{{i._source.path}}</td>
                          <td class="mensaje_3" data-msj="{{i._source.message}}">Pulse en ver más para ver el mensaje</td>
                          <td width="100"><button type="button" class="btn btn-info btn-lg"  data-toggle="modal" data-target="#mymodal3{{ counter }}" id= "boton_tabla3_{{ counter }}">Ver más</button></td>
                          <!--Inicio de modal de modal  -->
                        <div id="mymodal3{{counter}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                  <!-- Modal content-->
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Mensaje de Error No.{{ counter}}</h4>
                                      </div>
                                      <div class="modal-body">
                                        <p> {{i._source.message}} </p>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>

                                  </div>
                                </div>
                                <!--fin de modal de modal  -->
                      </tr>
                      {% endfor %}
              </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
          </div>
          </div>
          <!--Tebla apache access-->
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">

                <div class="card mb-3">
                  <!--Inicio de tabla  -->
                  <div class="card-header">
                    <i class="fa fa-table"></i> Registros Apache_Access</div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-bordered"   width="100%" cellspacing="0">
                          <thead>
                              <tr>
                                <th  width="100">Número</th>
                                <th width="100">Tipo Error</th>
                                <th width="100">Path Error</th>
                                <th>Mensaje</th>
                                <th>Opción</th>
                              </tr>
                          </thead>
                      <tbody>
                      {% set counter = 0 %}
                      {% for i in data4["hits"]["hits"] %}
                      {% set counter = counter + 1 %}
                      <tr>
                          <td>{{ counter}}</td>
                          <td width="100" height="100">{{i._type}}</td>
                          <td width="100" height="100">{{i._source.path}}</td>
                          <td class="mensaje_4" data-msj="{{i._source.message}}">Pulse en ver más para ver el mensaje</td>
                          <td width="100"><button type="button" class="btn btn-info btn-lg"  data-toggle="modal" data-target="#mymodal4{{ counter }}" id= "boton_tabla4_{{ counter }}">Ver más</button> </td>
                      <!--Inicio de modal de modal  -->
                        <div id="mymodal4{{counter}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                  <!-- Modal content-->
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Mensaje de Error No.{{ counter}}</h4>
                                      </div>
                                      <div class="modal-body">
                                        <p> {{i._source.message}} </p>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>

                                  </div>
                                </div>
                      <!--fin de modal de modal  -->
                      </tr>
                      {% endfor %}
                </tbody>
                </table>
              </div>
            </div>
          </div>
          </div>
            </div>
            </div>
          <!--tomcat-->
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">

                <div class="card mb-3">
                  <!--Inicio de tabla  -->
                  <div class="card-header">
                    <i class="fa fa-table"></i> Registros tomcat Access</div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-bordered"   width="100%" cellspacing="0">
                          <thead>
                              <tr>
                                <th  width="100">Número</th>
                                <th width="100">Tipo Error</th>
                                <th width="100">Path Error</th>
                                <th>Mensaje</th>
                                <th>Opción</th>
                              </tr>
                          </thead>
                      <tbody>
                      {% set counter = 0 %}
                      {% for i in data5["hits"]["hits"] %}
                      {% set counter = counter + 1 %}
                      <tr>
                          <td>{{ counter}}</td>
                          <td width="100" height="100">{{i._type}}</td>
                          <td width="100" height="100">{{i._source.path}}</td>
                          <td class="mensaje_5" data-msj="{{i._source.message}}">Pulse en ver más para ver el mensaje</td>
                          <td width="300"><button type="button" class="btn btn-info btn-lg"  data-toggle="modal" data-target="#mymodal5{{ counter }}" id= "boton_tabla5_{{ counter }}">Ver más</button></td>
                          <!--Inicio de modal de modal  -->
                            <div id="mymodal5{{counter}}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                      <!-- Modal content-->
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Mensaje de Error No.{{ counter}}</h4>
                                          </div>
                                          <div class="modal-body">
                                            <p> {{i._source.message}} </p>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                          </div>
                                        </div>

                                      </div>
                                    </div>
                          <!--fin de modal de modal  -->
                      </tr>
                      {% endfor %}
                </tbody>
                </table>
              </div>
            </div>
          </div>
          </div>
            </div>
            </div>
            <!--tomcat-->
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="card mb-3">
                    <!--Inicio de tabla  -->
                    <div class="card-header">
                      <i class="fa fa-table"></i> Registros Catalina Out</div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-bordered"   width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                  <th  width="100">Número</th>
                                  <th  width="100">Tipo Error</th>
                                  <th  width="100">Path Error</th>
                                  <th>Mensaje</th>
                                  <th>Opción</th>
                                </tr>
                            </thead>
                        <tbody>
                        {% set counter = 0 %}
                        {% for i in data6["hits"]["hits"] %}
                        {% set counter = counter + 1 %}
                        <tr>
                            <td>{{ counter}}</td>
                            <td width="100" height="100">{{i._type}}</td>
                            <td width="100" height="100">{{i._source.path}}</td>
                            <td class="mensaje_6" data-msj="{{i._source.message}}">Pulse en ver más para ver el mensaje</td>
                            <td width="200"><button type="button" class="btn btn-info btn-lg"  data-toggle="modal" data-target="#mymodal6{{ counter }}" id= "boton_tabla6_{{ counter }}">Ver más</button></td>
                            <!--Inicio de modal de modal  -->
                              <div id="mymodal6{{counter}}" class="modal fade" role="dialog">
                                  <div class="modal-dialog">
                                        <!-- Modal content-->
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              <h4 class="modal-title">Mensaje de Error No.{{ counter}}</h4>
                                            </div>
                                            <div class="modal-body">
                                              <p> {{i._source.message}} </p>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                          </div>

                                        </div>
                                      </div>
                            <!--fin de modal de modal  -->

                        </tr>
                        {% endfor %}
                  </tbody>
                  </table>
                </div>
              </div>
            </div>
            </div>
              </div>
              </div>
      </div>
      <!--fin de tabla -->
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright ©Erick-Residencia-Evolutel-2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" >Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>


    <script src="/AnalisisLogs/src/views/BackEnd/vendor/jquery/jquery.min.js"></script>
     <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/AnalisisLogs/src/js/botonesverregistros.js"></script>
    <script src="/AnalisisLogs/src/views/BackEnd/vendor/popper/popper.min.js"></script>
    <script src="/AnalisisLogs/src/views/BackEnd/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/AnalisisLogs/src/views/BackEnd/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="/AnalisisLogs/src/views/BackEnd/vendor/chart.js/Chart.min.js"></script>
    <script src="/AnalisisLogs/src/views/BackEnd/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/AnalisisLogs/src/views/BackEnd/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/AnalisisLogs/src/views/BackEnd/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="/AnalisisLogs/src/views/BackEnd/js/sb-admin-datatables.min.js"></script>

  </div>
</body>

</html>
